{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Survey Push {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="option"><b>Question Type</b></label></br>
            <input type="radio" name="option" value="single" /> Single Choice &nbsp;&nbsp;&nbsp;
            <input type="radio" name="option" value="multi" /> Multiple Choices &nbsp;&nbsp;&nbsp;
            <input type="radio" name="option" value="rating" /> Rating &nbsp;&nbsp;&nbsp;
            <input type="radio" name="option" value="textbox" /> Textbox
        </p>
    </div>

    <div class="form-group">
        <label for="question">Question</label>
        <input type="text" name="question"
            placeholder="Post question" class="form-control"
            value="{{ request.form['question'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" placeholder="Post content"
            class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Next</button>
    </div>
</form>
{% endblock %}