<template>
  <div class="dashboard-editor-container">
    <el-header class="head-wrapper" style="height:40px;color:#606266">Duration Selector</el-header>
    
    <el-row style="padding:16px 16px 0;margin-bottom:32px;">
      <drag-select />
    </el-row>

    <!-- <aside>Key Metrics</aside> -->
    <el-header class="head-wrapper" style="height:40px;color:#606266">Key Metrics</el-header>
    <panel-group @handleSetLineChartData="handleSetLineChartData" />

    <!-- <aside>Basic Statistics</aside> -->
    <el-header class="head-wrapper" style="height:40px;color:#606266">Basic Statistics</el-header>
    <el-row style="background:#fff;padding:16px 16px 0;margin-bottom:32px;">
      <line-chart :chart-data="lineChartData" />
    </el-row>

    <el-row :gutter="32">
      <el-col style="margin-bottom:30px;">
        <question-table />
      </el-col>
    </el-row>

    <el-row :gutter="32">
      <el-col :xs="24" :sm="24" :lg="12">
        <div class="chart-wrapper">
          <pie-chart />
        </div>
      </el-col>
    </el-row>

    <!-- <aside>Smart Text Analysis</aside> -->
    <el-header class="head-wrapper" style="height:40px;color:#606266">Smart Text Analysis</el-header>

    <aside>Topic List</aside>
    <el-row :gutter="32">
      <el-col style="margin-bottom:30px;">
        <topic-table />
      </el-col>
    </el-row>

    <aside>Word Cloud</aside>
    <img src="https://raw.githubusercontent.com/TianyunZ/Image-Repo/main/text_wordcloud.png" alt="Word Cloud" style="width:60%;">
  </div>
</template>

<script>
import PanelGroup from './components/PanelGroup'
import DragSelect from './components/DragSelect'
import LineChart from './components/LineChart'
import PieChart from './components/PieChart'
import QuestionTable from './components/QuestionTable'
import mockData from './components/mockLineChartData.json'
import TopicTable from './components/TopicTable'

const lineChartData = mockData.data

export default {
  name: 'DashboardAdmin',
  components: {
    DragSelect,
    PanelGroup,
    LineChart,
    PieChart,
    QuestionTable,
    TopicTable
  },
  data() {
    return {
      lineChartData: lineChartData.satisfaction,
      lineChartXAxis: mockData.dates
    }
  },
  methods: {
    handleSetLineChartData(type) {
      this.lineChartData = lineChartData[type]
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  position: relative;

  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }

  .head-wrapper {
    height: 20px;
    padding-top: 10px;
  }
}

</style>
