{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Choose the Mode of Pushing {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="type">Content Type</label>
        <select name="type" placeholder="Select a content type" style="width:200px" class="form-control">
            <option value="text">Text</option>
            <option value="survey">Survey</option>
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Next</button>
    </div>
</form>
{% endblock %}