{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Set Pushing Time {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="time"><b>Push Time</b></label></br>
        <input type="time" name="time" style="width:200px"
            placeholder="Fill in time" class="form-control"
            value="{{ request.form['time'] }}"></input>
        </p>
        <input type="date" name="date" style="width:200px"
            placeholder="Fill in date" class="form-control"
            value="{{ request.form['date'] }}"></input>
        </p>
    </div>

    <div class="form-group">
        <label for="period"><b>Push Period</b></label></br>
            <input type="radio" name="period" value="0" /> Once &nbsp;&nbsp;&nbsp;
            <input type="radio" name="period" value="1" /> Daily &nbsp;&nbsp;&nbsp;
            <input type="radio" name="period" value="2" /> Weekly &nbsp;&nbsp;&nbsp;
            <input type="radio" name="period" value="3" /> Monthly
        </p>
    </div>

    <div class="form-group">
        <label for="target"><b>Push Target</b></label></br>
        <select name="target" placeholder="Select a target" style="width:200px" class="form-control">
            <option value="all">All</option>
            <option value="group">Group</option>
        </select>
        </p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}