{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome! {% endblock %}</h1>

<h1>{% block subtitle %} Here is the display of statistic. {% endblock %}</h1>

<body>
    <img src="https://imge.com/wp-content/uploads/2019/02/IMGE-Social-Share.png" alt="Pie chart" />
</body>
{% endblock %}