<template>
  <el-select v-model="value" placeholder="Select Duration">
    <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      :value="item.value"
    >
    </el-option>
  </el-select>
</template>

<script>
export default {
  data() {
    return {
      options: [
        {
          value: 'Day',
          label: 'Day'
        },
        {
          value: 'Week',
          label: 'Week'
        },
        {
          value: 'Month',
          label: 'Month'
        }
      ],
      value: 'Week'
    }
  }
}
</script>
