<template>
  <div class="dashboard-editor-container">
    <header>Suggestion Analysis</header>
    <aside>Topic List</aside>
    <!-- <el-row :gutter="32">
      <el-col style="margin-bottom:30px;">
        Suggestion Analysis
      </el-col>
    </el-row> -->

    <!-- <el-row :gutter="32">
      <el-col style="margin-bottom:30px;">
        Topic List
      </el-col>
    </el-row> -->

    <el-row :gutter="32">
      <el-col style="margin-bottom:30px;">
        <topic-table />
      </el-col>
    </el-row>

    <aside>Word Cloud</aside>
    <img src="https://raw.githubusercontent.com/TianyunZ/Image-Repo/main/freechat_wc.png" alt="Word Cloud" style="width:60%;">

    <aside background-color = '#dfe4ed'>Depression Detection</aside>
    <el-row :gutter="32">
      <el-col style="margin-bottom:30px;">
        <depression-table />
      </el-col>
    </el-row>
    
  </div>
</template>

<script>
import TopicTable from './components/TopicTable'
import DepressionTable from './components/DepressionTable'

export default {
  name: 'DashboardAdmin',
  components: {
    TopicTable,
    DepressionTable
  },
  data() {
    return {}
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  position: relative;

  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }

  .head-wrapper {
    height: 20px;
    padding-top: 10px;
  }
}

</style>
