<template>
  <div class="dashboard-editor-container">
    <aside>Follow the <a href="http://127.0.0.1:5000/create" target="_blank">link</a> to manage the message pushing.</aside>

  </div>
</template>

<script>
import PanelGroup from './components/PanelGroup'
import DragSelect from './components/DragSelect'
import LineChart from './components/LineChart'
import PieChart from './components/PieChart'
import QuestionTable from './components/QuestionTable'
import mockData from './components/mockLineChartData.json'
import TopicTable from './components/TopicTable'

const lineChartData = mockData.data

export default {
  name: 'DashboardAdmin',
  components: {
    DragSelect,
    PanelGroup,
    LineChart,
    PieChart,
    QuestionTable,
    TopicTable
  },
  data() {
    return {
      lineChartData: lineChartData.satisfaction,
      lineChartXAxis: mockData.dates
    }
  },
  methods: {
    handleSetLineChartData(type) {
      this.lineChartData = lineChartData[type]
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  position: relative;

  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }

  .head-wrapper {
    height: 20px;
    padding-top: 10px;
  }
}

</style>
